msvc_boost/
msvc_collada/
msvc_libxml2/
msvc_soqt/
msvc_ode/
msvc_soqt/
build/
src/
*#
myrelpath\.pyc

src/
.project
.pydevproject
*#*
*~*
.settings/
3rdparty/
myrelpath.pyc
python/Doxyfile 
*.pyc
*.log
*.out
test/.openravetest
python/html
python/latex/*
latex/doxygen.sty
latex/Makefile
latex/namespacemyrelpath.tex
latex/namespaces.tex
latex/refman.tex

include/openrave/html/
include/openrave/latex/

build/

sympy/

python/tgn_ikfast\.py

python/tgn_inversekinematics\.py
