[epydoc]
name: OpenRAVE
modules: openravepy
output: html
inheritance: included
url: http://openrave.programmingvision.com
frames: no
private: no
imports: no
src_code_tab_width: 4
redundant_details: no
external-api:
external-api-file: 
external-api-root: 
exclude: numpy, sympy, numeric
docformat: restructuredtext
