/* style.css, v3.0 2009/12/18
 *
 * 0 POINT theme for Drupal 6
 * Dr. Florian Radut, florian[at]radut.net
 */

body {
	margin: 0;
    margin-left: 4px;
	padding: 0;
	font-family: sans-serif, Arial, Verdana, Helvetica;
	font-size: 83%;
	line-height: 125%;
	color: #404040;
}

/* MAIN LAYOUT */
.sizer {
	margin: 0 auto;
}
.expander0 {
	position: relative; /* makes .expander0 visible outside .sizer in IEwin */
	min-height: 1px; /* This harmless declaration gives Layout to IE7, which can't read the star/html hack */
}
body.layout-jello .page {
	padding: 0 520px; /* the critical side padding that sets the natural min-width! */
}
body.layout-jello .sizer {
	width: 40%; /* this value controls liquidity; 0% = full rigid, 100% = full liquid */
	max-width: 160px; /* IE7 supports this property, doesn't need the fancy MS expression */
}
body.layout-jello .expander0 {
	margin: 0 -520px; /* neg side margin values should be < or = to side body padding and 1/2 of min-width below */
	min-width: 1040px; /* This prevents Safari from losing the negative margins in narrow windows */
} /* .expander0 must receive "hasLayout" for IEwin bug fixing; applied in ie6.css and ie7.css */

body.layout-fluid .sizer, body.in-maintenance .sizer { /* custom */
	width: 90%;
}
body.layout-fixed .sizer { /* custom */
	width: 980px;
}
.float-wrap {
	float: left;
	width: 100%;
}
.colmain {
	float: right;
	width: 100%;
}
.colleft {
	float: left;
	position: relative;
	width: 204px;			/*** cLcwv ***/
	margin-left: -204px;		/*** cLcwv ***/ /*** cLddv ***/
}
.colright {
	float: right;
	position: relative;
	width: 278px;		/*** cRcwv ***/
	margin-right: -278px;		/*** cRcwv ***/ /*** cRddv ***/
}
#sidebar-left, #sidebar-right {
	position: relative;
}
#sidebar-left {
	margin: 20px 0 20px 20px;
}
#sidebar-right {
	margin: 20px 20px 20px 0;
}

/* To modify the side column widths and the col divider widths, the values that are marked 
"Critical Left (Right) divider dimension value = cLddv (cRddv)" and 
"Critical Left (Right) col width value = cLcwv (cRcwv) also refer to the desired mod MUST be changed as a group. */

/* Variable asyimmetrical sidebars (wide) (default) */
body.layout-left-main-right .outer {
	margin-left: 204px;			/*** cLcwv ***/
	margin-right: 278px;			/*** cLcwv ***/
}
body.layout-left-main .outer {
	margin-left: 294px;			/*** cLcwv ***/
}
body.layout-main-right .outer {
	margin-right: 344px;			/*** cLcwv ***/
}
body.layout-left-main .colleft {
	width: 294px;			/*** cLcwv ***/
	margin-left: -294px;		/*** cLcwv ***/ /*** cLddv ***/
}
body.layout-main-right .colright {
	width: 344px;		/*** cRcwv ***/
	margin-right: -344px;		/*** cRcwv ***/ /*** cRddv ***/
}

/* Fixed asyimmetrical sidebars (wide) */
body.l-m-r-fix .outer, body.l-m-fix .outer, body.l-m-fix .outer {
	margin-left: 204px;
}
body.l-m-r-fix .outer, body.m-r-fix .outer, body.m-r-fix .outer {
	margin-right: 278px;
}
body.l-m-fix .colleft {
	width: 204px;
	margin-left: -204px;
}
body.m-r-fix .colright {
	width: 278px;
	margin-right: -278px;
}

/* Variable asyimmetrical sidebars (narrow) */
body.l-m-r-var1 .colleft, body.m-r-var1 .colleft, body.l-m-var1 .colleft, 
body.l-m-r-fix1 .colleft, body.m-r-fix1 .colleft, body.l-m-fix1 .colleft {
	width: 184px;
	margin-left: -184px;
}
body.l-m-r-var1 .colright, body.m-r-var1 .colright, body.l-m-var1 .colright, 
body.l-m-r-fix1 .colright, body.m-r-fix1 .colright, body.l-m-fix1 .colright {
	width: 258px;
	margin-right: -258px;
}
body.l-m-r-var1 .outer {
	margin-left: 184px;
	margin-right: 258px;
}
body.l-m-var1 .outer {
	margin-left: 274px;
}
body.m-r-var1 .outer {
	margin-right: 324px;
}
body.l-m-var1 .colleft {
	width: 274px;
	margin-left: -274px;
}
body.m-r-var1 .colright {
	width: 324px;
	margin-right: -324px;
}

/* Fixed asyimmetrical sidebars (narrow)  */
body.l-m-r-fix1 .outer, body.l-m-fix1 .outer, body.l-m-fix1 .outer {
	margin-left: 184px;
}
body.l-m-r-fix1 .outer, body.m-r-fix1 .outer, body.m-r-fix1 .outer {
	margin-right: 258px;
}
body.l-m-fix1 .colleft {
	width: 184px;
	margin-left: -184px;
}
body.m-r-fix1 .colright {
	width: 258px;
	margin-right: -258px;
}

/* Equal width sidebars (custom) */
body.l-m-r-eq .colleft, body.m-r-eq .colleft, body.l-m-eq .colleft {
	width: 199px;
	margin-left: -199px;
}
body.l-m-r-eq .colright, body.m-r-eq .colright, body.l-m-eq .colright {
	width: 199px;
	margin-right: -199px;
}
body.l-m-r-eq .outer, body.l-m-eq .outer, body.l-m-eq .outer {
	margin-left: 199px;
}
body.l-m-r-eq .outer, body.m-r-eq .outer, body.m-r-eq .outer {
	margin-right: 199px;
}
body.l-m-eq .colleft {
	width: 199px;
	margin-left: -199px;
}
body.m-r-eq .colright {
	width: 199px;
	margin-right: -199px;
}


#topex {
	z-index: 1;
}
#top_bg {
	background: transparent url(../images/fill_top.png) 0 100% repeat-x;
}
#top_left {
	background: transparent url(../images/fill_top_left.png) 0 100% no-repeat;
}
#top_right {
	background: transparent url(../images/fill_top_right.png) 100% 100% no-repeat;
	padding: 0 25px;
}
#body_bg {
	border-bottom: 1px solid #ddd;
}
#body_left {
	background: transparent url(../images/all/fill_left.png) 0 0 repeat-y;
}
#body_right {
	background: transparent url(../images/all/fill_right.png) 100% 0 repeat-y;
	padding: 0 25px;
}

/* MARKUP FREE CLEARING (http://www.positioniseverything.net/easyclearing.html) */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */

/* UTILITY RULES */
.brclear {
	clear: both;
	height: 0;
	margin: 0;
	font-size: 1px;
	line-height: 0;
}

h1, h2 {
	padding-bottom: 5px;
	margin: 10px 0;
}
h3, h4, h5, h6 {
	margin: 15px 0 0 0;
}
h1 {
	font-size: 160%;
	line-height: normal;
}
h2 {
	font-size: 125%;
}
h3 { 
	font-size: 110%;
}
h4 {
	font-size: 100%;
}
h1, h2, h3 {
	color: #777;
}
p {
	margin-top: 0.5em;
	margin-bottom: 0.9em;
}
a, a:link,
.title, .title a,
.node .terms,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
	color: #777;
}
a {
	text-decoration: none;
	color: #337;
}
a:link {
	text-decoration: none;
	color: #337;
}
a:visited {
	text-decoration: none;
	color: #337;
}
a:hover {
	text-decoration: underline;
	color: #337;
}
fieldset {
	border: 1px solid #ccc;
}
pre {
	background-color: #f9f9f9;
	padding: 0.75em 1.5em;
	font-size: 12px;
	border: 1px solid #ddd;
}
.links {
	margin: 0;
	clear: both;
}
.comment .links {
	margin-bottom: 0;
}
ul.primary {
  white-space: normal;
}
ul.links li {
	border-left: 1px solid #d3d3d3;
}
table {
	width: 100%;
	font-size: 1em;
}
tbody {
	border: none;
}
tr.odd td, tr.even td {
	padding: 0.3em;
}
table.sections {
	width: 100%;
	padding: 0;
}
td.section {
	padding: 0 20px;
	vertical-align: top;
}
td.section.divider {
	border-left: 1px dashed #ddd;
}
#help {
	font-size: 0.9em;
	margin-bottom: 1em;
}
.error {
	border-color: red;
}
.title, .title a {
	font-weight: bold;
	margin: 0 auto;
}
.front h2.title a {			/* front */
	font-size: 160%;
	line-height: normal;
	padding-bottom: 10px;
	font-weight: normal;
}
.not-front h1.title {		/* node */
	font-size: 180%;
	padding: 10px 0;
	font-weight: normal;
}
.box {
	padding: 0 0 1.5em 0;
}
.block {
	padding-bottom: 0.75em;
	margin-bottom: .5em;
}
.block.themed-block {
	background: #fff url(../images/fill_block.png) 0 100% repeat-x;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 15px;
}
.section .block, .section .box {
	padding: 0;
	margin-bottom: 15px;
}
.block .title {
	padding: 6px 6px 6px 28px;
	margin: 0 0 .25em 0;
	text-transform: uppercase;
}
.block .content {
	padding: 6px;
	margin: 0;
}
.node {
	margin: .5em 0 2em 0;
}
.node .content, .comment .content {
	margin: .5em 0;
}
.node .terms {
	font-size: 0.8em;
	padding-left: 0.6em;
}
.node .terms a {
	font-weight: normal;
}
.terms ul.taxonomy ul.vocab-list, .terms ul.taxonomy li.vocab-term {
  display: inline;
  padding: 0;
  margin: 0;
}
.terms ul.taxonomy li.vocab {
	list-style: none;
	font-weight: bold;
}
.submitted {
	font-size: 0.8em;
}
.submitted, .links {
	color: #3f3f3f;
}
.comment {
	padding: .5em;
	margin-bottom: 1em;
	border: 1px solid #d3d3d3;
}
.comment .title {
	padding: 10px 0 12px 19px;
	background: transparent url(../images/all/icon-comment.png) left center no-repeat;
}
.comment .title a {
	font-weight: normal;
}
.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
}
.node .picture, .comment .picture {
	float: right;
	padding: 0.5em;
}
.signature p {
	font-size: 85%;
	margin: 7px 0;
}
blockquote {
	padding: 0 10px;
	margin: 1em 2em !important;
	background-color: #eee;
	border: 1px solid #ddd;
	font-style: italic;
}
blockquote p {
  margin: 0 !important;
  width: inherit !important;
}
blockquote a:link {
  text-decoration: underline;
}
.messages {
	padding: 0.3em;
	margin-bottom: 1em;
	background-color: #eee;
	border: 1px solid #ccc;
}
.form-item label {
	font-size: 1em;
	color: #222;
}
.item-list .title {
	color: #222;
}
div.admin, div.admin .left, div.admin .right {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div.admin-panel .body {
	background-color: #f4f4f4;
}
div.admin-panel h3 {
	color: #abc;
	padding: 5px 8px 5px;
	margin: 0;
}
#above {
	padding: 0 20px;
	min-height: 20px;
}
#above .block h2, #header .block h2, #footer .block h2 {
	display: none;
}
#header, #content {
	width: 100%;
}
#header .block {
	padding: 0;
	margin: 0 20px 5px;
}
#top-elements {
	float: right;
	text-align: right;
	padding: 0 20px 0 0;
	width: 470px;
}
#toplinks {
	margin-right: 10px;
	line-height: 22px;
	display: inline;
	font-size: 13px;
}
#toplinks, #toplinks a {
	color: #000 !important;
	font-weight: normal;
}
#banner .block {
	margin: 10px 0;
	padding: 0;
	float: right;
}
#logo {
	float: left;
}
#logo img {
	margin: 0 15px 5px 20px;
}
#name-and-slogan {
	padding-bottom: 20px;
}
#site-name {
	margin: 0 0 0 35px;
	padding: 20px 0 0 0;
}
#site-name a, #site-name a:hover {
	margin-left: -2px;
	font-weight: bold;
	text-decoration: none;
	font-size: 185%;
}
#site-slogan {
	color: #000;
	padding: 3px 0 0 37px;
	margin: 0;
}
#mission {
	color: #535353;
	border: solid 1px #ddd;
	font-weight: normal;
	padding: 1em 1em 0.75em 2em;
	margin: 10px 0 20px;
	font-size: 85%;
}
#mission a, #mission a:visited {
	font-weight: normal;
	text-decoration: underline;
}
#search {
	float: right;
}
#search .form-item label, .block-search .form-item label {
	display: none;
}
#search .form-text, #search .form-submit {
	font-size: 12px;
	height: 22px;
	vertical-align: middle;
	border: 1px solid #555;
}
#search .form-text {
	width: 110px;
	padding: 0 0.4em;
}
#breadcrumb {
	padding-left: 20px;
	clear: both;
	font-size: 80%;
}
#breadcrumb .breadcrumb {
	padding: 0;
}
#breadcrumb, #breadcrumb a {
	font-weight: normal;
	color: #1e201b !important;
}
#section1 {
	padding-top: 10px;
}
#section1 .block {
	margin: 15px 0 0 0;
}
#middlecontainer {
	padding: 1px 0 0 0;
}
#wrapper {
	position: relative;
	width: 100%; /* helps IE get the child percentages right */
}
#main {
	padding: 10px 20px 20px 20px;
	overflow: visible;
}
#main .block {
	padding-top: 10px;
}
#main .content a {
	text-decoration: underline;
}
#content-middle {
	margin-right: 20px;
	float: left;
}
#content-middle .block {
	padding: 10px 0 0 0;
}
#footer {
	text-align: center;
	margin: 0;
	padding: 5px 44px;
	font-size: 75%;
}
#footer a {
	font-weight: normal;
}
#footer, #footer a {
	color: #888 !important;
}
#footer .block {
	padding: 0;
	margin: 0;
}
#footer ul.links li {
	border-left: 1px solid #909090;
}
#footer ul.links li.first, ul.links li.first {
	border: none;
}
#footer .block ul, #footer ul.links li.first {
	margin-left: 0;
	padding-left: 0;
}
#belowme {
	padding: 5px 44px;
	text-align: center;
}
.legal {
	margin: 5px auto 0 auto;
	padding: 0 90px;
}
.xmll {
	position: relative;
	float: right;
	margin-top: -16px;
	padding-right: 15px;
}
.by {
	float: right;
	clear: both;
	font-size: 75%;
}
.by, .by a, .by a:hover {
	color: #ddd !important;
	text-decoration: none;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
	font-style: italic;
	font-size: 0.9em;
}
#aggregator .feed-source {
	padding: 1em;
	margin: 1em 0;
	background-color: #eee;
	border: 1px solid #ccc;
}
#aggregator .title {
	margin-bottom: 0.5em;
}
#aggregator h3 {
	margin-top: 1em;
}
#forum table {
	width: 100%;
}
#forum td {
	padding: 0.5em;
}
#forum td .links {
	padding-top: 0.7em;
	font-size: 0.9em;
}
#forum td.forum, #forum td.posts {
	background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
	background-color: #ddd;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
	border: 1px solid #bbb;
}
#forum td.container {
	background: #cdcdcd url(../images/all/forum-container.jpg) right top no-repeat;
}
#forum td.container a {
	padding: 10px 0 10px 40px;
	background: transparent url(../images/all/forum-link.png) left center no-repeat;
}
.block-forum h3 {
	margin-bottom: .5em;
}
#profile .profile {
	clear: both;
	padding: .5em;
	margin: 1em 0em;
	border: 1px solid #abc;
}
#profile .profile .name {
	padding-bottom: 0.5em;
}
#user-login-form, div.toboggan-login-link-container, div.user-login-block, .block-logintoboggan {
	text-align: center;
}
#user-login-form .item-list {
	text-align: left;
}
#user-login-form ul li.openid-link ,
#user-login-form ul li.user-link {
	padding: 5px 0 0 0;
	margin-left: 0;
	list-style-type: none;
}
body.in-maintenance #main {
	padding: 55px 115px 120px;
}
#attachments a {
	text-decoration: none !important;
}
#attachments a:hover {
	text-decoration: underline !important;
}

/* MENU & link STYLES */

li.leaf {
	list-style-image: url(../images/all/menu-leaf.png);
}
li.expanded {
	list-style-image: url(../images/all/menu-expanded.png);
}
li.collapsed {
	list-style-image: url(../images/all/menu-collapsed.png);
}
/*#navlinks, #navlist, #subnavlist, */
#navlist2 {
	text-align: center;
}
.navleft {
	padding-left: 20px;
}
.navcenter {
	text-align: center;
}
.navright {
	float: right;
	padding-right: 20px;
}
#navlist.links li, #navlinks a {
	border: none;
	margin: 0;
	padding: 0;
}
#navlist.links a, #navlinks ul li a {
	/*border: 1px solid #c4c4c4;
	border-bottom: none;
	padding: 5px 24px;*/
	border: none;
	padding: 6px 25px 5px;
	color: #fff !important;
	background-color: #777;
	font-weight: normal !important;
	text-transform: uppercase;
	font-family: "times new roman", sans-serif, Arial, Verdana, Helvetica;
	font-size: 12px;
	line-height: 25px;
}
/*#navlist li a.active, #navlinks ul li a.active,*/
#navlist li a:hover, #navlinks ul li a:hover {
	color: #777 !important;
	background-color: #dbdbdb !important;
	text-decoration: none;
}
#subnavlist.links li {
	border: none;
	margin: 0;
	padding: 0;
}
#subnavlist.links a {
	border: 1px solid #ddd;
	color: #444 !important;
	background-color: #eee;
	padding: 2px 5px;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
}
#subnavlist li a:hover {
	background-color: #dbdbdb !important;
	text-decoration: none;
}
#navlist2 {
	margin-top: 15px;
}
#navlist2 a {
	color: #888 !important;
	font-weight: normal;
}
#navlist2 li a:hover {
	color: #000;
	text-decoration: none;
}
#navlist2 li a.active {
	color: #000;
}

/* SUCKERFISHMENU */

body.sfish #navlinks ul li.expanded a {
	background: #777 url(../images/nav-down.png) 95% 50% no-repeat;
}
body.sfish #navlinks li ul a:link, 
body.sfish #navlinks li ul a:visited {
	color: #fff;
	background: #aaa;
	border-left: 1px solid #c4c4c4;
	border-top: 1px solid #c4c4c4;
	border-right: 1px solid #959595;
	border-bottom: 1px solid #959595;
}
body.sfish #navlinks ul.menu li ul.menu li.expanded a,
body.sfish #navlinks ul.menu li ul.menu li ul.menu li.expanded a,
body.sfish #navlinks ul.menu li ul.menu li ul.menu li ul.menu li.expanded a {
	background: #aaa url(../images/nav-right.png) 100% 50% no-repeat;
}
body.sfish #navlinks ul.menu li li.expanded ul.menu a, 
body.sfish #navlinks ul.menu li li.expanded ul.menu li.expanded ul.menu a,
body.sfish #navlinks ul.menu li li.expanded ul.menu li.expanded ul.menu li.expanded ul.menu a {
	background: #aaa;
}
/*body.sfish #navlinks li ul a.active,*/
body.sfish #navlinks li ul a:hover {
	color: #fff;
	background-color: #999;
}

/* ANOTHER SON OF SUCKERFISH...
http://www.htmldog.com/articles/suckerfish/dropdowns/
http://www.alistapart.com/articles/horizdropdowns
*/

body.sfish #navlinks ul { /* top level ul */
	display: inline;
	margin: 0;
	padding: 0;
	z-index: 99;
}
body.sfish #navlinks a, body.sfish #navlinks a:active, body.sfish #navlinks a:hover { /* main menu elements */
	text-decoration: none;
}
body.sfish #navlinks li {
	display: inline;
	margin: 0;
	padding: 0;
	height: 1%;
}
body.sfish #navlinks li:hover, body.sfish #navlinks li.hover {
	position: static;
}

/* suckerfish second-level lists */
body.sfish #navlinks ul ul {
	list-style: none;
	margin: 24px 0 0 -100px;
	padding: 1px 0 0 0;
}
body.sfish #navlinks ul ul a {
	display: block;
}
body.sfish #navlinks ul li ul {
	position: absolute;
	width: 158px;
	left: -999em;
}
body.sfish #navlinks ul li li {
	height: auto;
	float: right;
	width: 158px;
}
body.sfish #navlinks ul li ul a {
	padding: 0 10px;
	width: 158px;
	line-height: 24px;
}
body.sfish #navlinks ul li ul a:active, body.sfish #navlinks ul li ul a:hover {
	text-decoration: none;
}

/* suckerfish margin for pullouts */
body.sfish #navlinks ul li ul ul {
	margin: -27px 0 0 180px;
}
body.sfish #navlinks ul li:hover ul ul, body.sfish #navlinks ul li:hover ul ul ul, 
body.sfish #navlinks ul li.sfhover ul ul, body.sfish #navlinks ul li.sfhover ul ul ul {
	left: -999em;
}
body.sfish #navlinks ul li:hover ul, body.sfish #navlinks ul li li:hover ul, body.sfish #navlinks ul li li li:hover ul, 
body.sfish #navlinks ul li.sfhover ul, body.sfish #navlinks ul li li.sfhover ul, body.sfish #navlinks ul li li li.sfhover ul {
	left: auto;
}

/* "Skip to Main Content" link - is useful for both visually impaired people and those with mobility impairments who cannot use a mouse */
#skip-nav {
	display: none;
}
#skip-nav a, #skip-nav a:hover, #skip-nav a:visited {
	position: absolute;
	left: 0;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip-nav a:active, #skip-nav a:focus {
	position: static;
	width: auto;
	height: auto;
}

/* BLOCK ICONS */

body.bicons32 div.block-icon {
	position: absolute;
	width: 32px;
	height: 32px;
	margin: -5px 0 0 -5px;
}
body.bicons48 div.block-icon {
	position: absolute;
	width: 48px;
	height: 48px;
	margin: -15px 0 0 -18px;
}
body.bicons32 .block.themed-block .title,
body.bicons48 .block.themed-block .title {
	text-align: right;
}

/*--- blog ---*/
body.bicons32 .block-blog .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_32.png) no-repeat;
}
body.bicons32 #block-blog-0 .block-icon, body.bicons32 #block-blog-recent .block-icon {
	background: transparent url(../images/icons/blocks/icon_02_32.png) no-repeat;
}
body.bicons48 .block-blog .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_48.png) no-repeat;
}
body.bicons48 #block-blog-0 .block-icon, body.bicons48 #block-blog-recent .block-icon {
	background: transparent url(../images/icons/blocks/icon_02_48.png) no-repeat;
}

/*--- image ---*/
body.bicons32 .block-image .block-icon, body.bicons32 .block-image_attach .block-icon, .block-gallery_assist .block-icon {
	background: transparent url(../images/icons/blocks/icon_05_32.png) no-repeat;
}
body.bicons48 .block-image .block-icon, body.bicons48 .block-image_attach .block-icon, .block-gallery_assist .block-icon {
	background: transparent url(../images/icons/blocks/icon_05_48.png) no-repeat;
}

/*--- comments & forums ---*/
body.bicons32 .block-comment .block-icon, body.bicons32 .comments-block-icon .block-icon,
body.bicons32 #block-views-comments_recent-block .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_32.png) no-repeat;
}
body.bicons32 .block-forum .block-icon,
body.bicons32 #block-views-comments_recent-block h2.block-title {
	background: transparent url(../images/icons/blocks/icon_06_32.png) no-repeat;
}
body.bicons48 .block-comment .block-icon, body.bicons48 .comments-block-icon .block-icon,
body.bicons48 #block-views-comments_recent-block .block-icon {
	background: transparent url(../images/icons/blocks/icon_01_48.png) no-repeat;
}
body.bicons48 .block-forum .block-icon,
body.bicons48 #block-views-comments_recent-block h2.block-title {
	background: transparent url(../images/icons/blocks/icon_06_48.png) no-repeat;
}

/*--- book ---*/
body.bicons32 .block-book .block-icon {
	background: transparent url(../images/icons/blocks/icon_22_32.png) no-repeat;
}
body.bicons48 .block-book .block-icon {
	background: transparent url(../images/icons/blocks/icon_22_48.png) no-repeat;
}

/*--- views default ---*/
body.bicons32 .block-views .block-icon {
	background: transparent url(../images/icons/blocks/icon_07_32.png) no-repeat;
}
body.bicons48 .block-views .block-icon {
	background: transparent url(../images/icons/blocks/icon_07_48.png) no-repeat;
}

/*--- user login ---*/
body.bicons32 #block-user-0 .block-icon, body.bicons32 #block-user-login .block-icon {
	background: transparent url(../images/icons/blocks/icon_14_32.png) no-repeat;
}
body.bicons48 #block-user-0 .block-icon, body.bicons48 #block-user-login .block-icon {
	background: transparent url(../images/icons/blocks/icon_14_48.png) no-repeat;
}
div.toboggan-login-link-container {
  padding-left: 20px;
}

/*--- user ---*/
body.bicons32 .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_08_32.png) no-repeat;
}
body.bicons32 .admin .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_32.png) no-repeat;
}
body.bicons48 .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_08_48.png) no-repeat;
}
body.bicons48 .admin .block-user .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_48.png) no-repeat;
}

/*--- user new/online ---*/
body.bicons32 #block-user-2 .block-icon, body.bicons32 #block-user-3 .block-icon, 
body.bicons32 #block-user-new .block-icon, body.bicons32 #block-user-online .block-icon {
	background: transparent url(../images/icons/blocks/icon_19_32.png) no-repeat;
}
body.bicons48 #block-user-2 .block-icon, body.bicons48 #block-user-3 .block-icon, 
body.bicons48 #block-user-new .block-icon, body.bicons48 #block-user-online .block-icon {
	background: transparent url(../images/icons/blocks/icon_19_48.png) no-repeat;
}

/*--- simplenews / Google groups /aggregator ---*/
body.bicons32 .block-simplenews .block-icon, body.bicons32 .block-google_groups .block-icon, body.bicons32 .block-aggregator .block-icon {
	background: transparent url(../images/icons/blocks/icon_10_32.png) no-repeat;
}
body.bicons48 .block-simplenews .block-icon, body.bicons48 .block-google_groups .block-icon, body.bicons48 .block-aggregator .block-icon {
	background: transparent url(../images/icons/blocks/icon_10_48.png) no-repeat;
}

/*--- devel ---*/
body.bicons32 #block-menu-devel .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_32.png) no-repeat;
}
body.bicons48 #block-menu-devel .block-icon {
	background: transparent url(../images/icons/blocks/icon_12_48.png) no-repeat;
}

/*--- menu / catalog ---*/
body.bicons32 .block-menu .block-icon, body.bicons32 .block-uc_catalog .block-icon {
	background: transparent url(../images/icons/blocks/icon_13_32.png) no-repeat;
}
body.bicons48 .block-menu .block-icon, body.bicons48 .block-uc_catalog .block-icon {
	background: transparent url(../images/icons/blocks/icon_13_48.png) no-repeat;
}

/*--- search ---*/
body.bicons32 .block-search .block-icon, body.bicons32 .block-google_cse .block-icon {
	background: transparent url(../images/icons/blocks/icon_15_32.png) no-repeat;
}
body.bicons48 .block-search .block-icon, body.bicons48 .block-google_cse .block-icon {
	background: transparent url(../images/icons/blocks/icon_15_48.png) no-repeat;
}

/*--- poll ---*/
body.bicons32 .block-poll .block-icon, body.bicons32 .block-i18npoll .block-icon {
	background: transparent url(../images/icons/blocks/icon_16_32.png) no-repeat;
}
body.bicons48 .block-poll .block-icon, body.bicons48 .block-i18npoll .block-icon {
	background: transparent url(../images/icons/blocks/icon_16_48.png) no-repeat;
}

/*--- most printed/emailed ---*/
body.bicons32 .block-print .block-icon, body.bicons32 .block-print_mail .block-icon {
	background: transparent url(../images/icons/blocks/icon_17_32.png) no-repeat;
}
body.bicons48 .block-print .block-icon, body.bicons48 .block-print_mail .block-icon {
	background: transparent url(../images/icons/blocks/icon_17_48.png) no-repeat;
}

/*--- popular content ---*/
body.bicons32 .block-statistics .block-icon {
	background: transparent url(../images/icons/blocks/icon_18_32.png) no-repeat;
}
body.bicons48 .block-statistics .block-icon {
	background: transparent url(../images/icons/blocks/icon_18_48.png) no-repeat;
}

/*--- locale ---*/
body.bicons32 .block-locale .block-icon {
	background: transparent url(../images/icons/blocks/icon_20_32.png) no-repeat;
}
body.bicons48 .block-locale .block-icon {
	background: transparent url(../images/icons/blocks/icon_20_48.png) no-repeat;
}

/*--- weather ---*/
body.bicons32 .block-weather .block-icon {
	background: transparent url(../images/icons/blocks/icon_21_32.png) no-repeat;
}
body.bicons48 .block-weather .block-icon {
	background: transparent url(../images/icons/blocks/icon_21_48.png) no-repeat;
}

/*--- shopping cart ---*/
body.bicons32 .block-uc_cart .block-icon {
	background: transparent url(../images/icons/blocks/icon_33_32.png) no-repeat;
}
body.bicons48 .block-uc_cart .block-icon {
	background: transparent url(../images/icons/blocks/icon_33_48.png) no-repeat;
}

/* PAGE ICONS */

body.picons .upload_attachments a {
	background: url(../images/icons/attach.png) no-repeat;
	padding-left: 20px;
}
body.picons .comment_comments a {
	background: url(../images/icons/comments.png) no-repeat;
	padding-left: 20px;
}
body.picons li.comment_delete a {
	background: url(../images/icons/trash.png) no-repeat 0 2px;
	padding-left: 15px;
}
body.picons li.comment_edit a {
	background: url(../images/icons/edit.png) no-repeat 0 2px;
	padding-left: 15px;
}
body.picons li.comment_reply a {
	background: url(../images/icons/reply.png) no-repeat 0 2px;
	padding-left: 15px;
}
body.picons .book_add_child a {
	background: url(../images/icons/page-add.png) no-repeat left center;
	padding-left: 20px;
}
body.picons .comment_add a {
	background: url(../images/icons/comment.png) no-repeat left center;
	padding-left: 20px;
}
body.picons .print-icon {
	display: none;
}
body.picons .print_html a, body.picons .book_printer a {
	background: url(../images/icons/print.png) no-repeat left center;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
}
body.picons .print_mail a, body.picons .book_mail a {
	background: url(../images/icons/mail.png) no-repeat left center;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
}
body.picons .print_pdf a, body.picons .book_pdf a {
	background: url(../images/icons/pdf.png) no-repeat left center;
	padding-left: 20px;
	height: 16px;
	display: inline-block;
}
body.picons .print_html, body.picons .book_printer,
body.picons .print_mail, body.picons .book_mail,
body.picons .print_pdf, body.picons .book_pdf {
	margin: auto 0;
	padding-right: 0;
}
body.picons .terms li.first, body.picons .terms ul.taxonomy {
	background: url(../images/icons/tag.png) no-repeat left top;
	padding-left: 20px;
	margin: 10px 0;
}
.terms li.first, .terms ul.taxonomy {
	padding-left: 3px;
}
body.picons #sidebar-left a.active, body.picons #sidebar-right a.active {
	background: url(../images/icons/check.png) no-repeat right center;
	padding-right: 20px;
}
#sidebar-left .block-image a.active , #sidebar-right .block-image a.active  {
	background: none;
	padding: 0;
}
body.picons .node_read_more a {
	background: url(../images/icons/read_more.png) no-repeat left center;
	padding-left: 15px;
}
body.picons .more-link a {
	background: url(../images/icons/more.png) no-repeat left center;
	padding-left: 15px;
	font-size: 9px;
}
body.picons .blog_usernames_blog a {
	background: url(../images/icons/user_green.png) no-repeat left center;
	padding-left: 20px;
}

/* MODULE SPECIFIC STYLES */

.block-i18n, .block-translation {
	padding: 0 !important;
	margin: 5px !important;
}
.block-i18n .item-list li, .block-translation .item-list li {
	list-style-type: none;
	margin: 0 0 0 22px;
}
.book-navigation {
	padding-top: 20px;
}
.book-navigation a {
	text-decoration: none !important;
}
.book-navigation a:hover {
	text-decoration: underline !important;
}
.book-navigation .page-links {
	border-top: 1px dashed #d3d3d3;
	border-bottom: 1px dashed #d3d3d3;
}
.book-navigation .menu {
	border-top: none;
}
.book-navigation .page-up {
  width: 5%;
}
.panel-col-top .node .content {
	background-image: none;
}
.block-image .content {
	text-align: center;
	padding: 0 !important;
	background: none !important;
}
ul.images li h3 {
	display: none;
}
ul.galleries li, ul.images li {
	background : none;
	border : none;
	list-style-type: none;
}
body.mceContentBody {
	background: #eee !important;
	font-size: 14px;
}
body.mceContentBody a:link {
	font-weight: normal;
}
.view .view-comments-recent .views-field-subject {
	font-weight: bold;
}
.view .views-admin-links li {
	background: transparent !important;
}
.block-gmaplocation .content {
	text-align: center;
}
.block-gmaplocation a.active {
	background-image: none !important;
	padding: 0 !important;
}
li.topic_reply {
	list-style-type: none;
}
.cart-block-title-bar .arrow-up {
  background: transparent url(../images/all/menu-up.png) no-repeat center center !important;
}
.cart-block-title-bar .arrow-down {
  background: transparent url(../images/all/menu-expanded.png) no-repeat center center !important;
}
.cart-block-icon-full, .cart-block-icon-empty, .cart-block-title-bar .arrow-up, .cart-block-title-bar .arrow-down {
  display: inline-block !important;
}
#continue-shopping-button {
  margin-right: 50% !important;
}
.category-grid-products table  {
	border-top: 1px dashed #ddd !important;
	border-left: 1px dashed #ddd !important;
}
.category-grid-products td {
	border-right: 1px dashed #ddd !important;
	border-bottom: 1px dashed #ddd !important;
	background-color: transparent !important;
}
.uc-store-admin-panel  {
	margin: 0;
	padding: 3px;
}
.uc-store-admin-panel .uc-store-icon  {
	margin: 0;
} 
.uc-store-admin-panel .panel-title  {
	font-size: 1em;
	font-weight: bold;
	line-height: 200%;
} 
.product-image {
	padding: 7px 0 2px 5px;
}
.main-product-image {
	padding-bottom: 2px;
}
.front .block-uc_catalog h2.title a {
	font-size: 100%;
	font-weight: bold;
}

/* Stylesheet for pygments enhanced reStructured Text */
/* ================================================== */

/* :Author:    Guenter Milde */
/* :Copyright: 2007 G. Milde */
/*             This stylesheet is released under the GPL v. 2 or later */

/* This stylesheet provides syntax highlight for documents generated with a */
/* pygments_ enhanced reStructured Text -> html converter. */

/* Import the default docutils style sheet */
/* --------------------------------------- */
/* :: */

@import url("/stylesheets/html4css1.css");         

/* Indent the code block */
/* --------------------- */

/* Content copied from the `html4css1.css` rule for literal blocks. */
/* Selector adapted to the output of Pygments_. :: */

div.highlight {
  margin-left: 2em ;
  margin-right: 2em ;
  background-color: #eeeeee
  }


/* Colour code blocks */
/* ------------------ */

/* Pygments_ has an option to generate stylesheets for html and latex. */
/* The following code is generated with the command */
/* `pygmentize -S default -f html > pygments-default.css`:: */

.c { color: #008800; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #AA22FF; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #008800; font-style: italic } /* Comment.Multiline */
.cp { color: #008800 } /* Comment.Preproc */
.c1 { color: #008800; font-style: italic } /* Comment.Single */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.kp { color: #AA22FF } /* Keyword.Pseudo */
.kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.kt { color: #AA22FF; font-weight: bold } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BB4444 } /* Literal.String */
.na { color: #BB4444 } /* Name.Attribute */
.nb { color: #AA22FF } /* Name.Builtin */
.nc { color: #0000FF } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #00A000 } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #B8860B } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BB4444 } /* Literal.String.Backtick */
.sc { color: #BB4444 } /* Literal.String.Char */
.sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BB4444 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BB4444 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BB4444 } /* Literal.String.Single */
.ss { color: #B8860B } /* Literal.String.Symbol */
.bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.vc { color: #B8860B } /* Name.Variable.Class */
.vg { color: #B8860B } /* Name.Variable.Global */
.vi { color: #B8860B } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */

/* .. _pygments:  http://pygments.org/ */
